* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), 
    url('https://mediacloud.kiplinger.com/image/private/s--X-WVjvBW--/f_auto,t_content-image-full-desktop@1/v1621366718/Investing/stock-market-today-051821.jpg');
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  flex: 1;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(77, 170, 223, 0.8);
  width: 100%;
}

ul {
  padding: 0px;
  margin: 5px;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition-duration: .4s;
}

a:hover {
  color: white;
}

.information {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#input {
  margin-bottom: 8px;
  text-align: center;
  border-radius: 4px;
  width: 200px;
  height: 25px;
  font-size: 17px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#input:focus {
  border: 3px solid #555;
}

#submit {
  width: 100px;
  height: 20px;
  transition-duration: 0.4s;
}

#price {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0px;
}

#profile {
  border-radius: 10px;
  background-color: rgba(77, 170, 223, 0.8);
  margin-top: 5px;
  height: 100%;
  margin: 5px;
} 

.hidden {
  display: none;
}

#finances {
  border-radius: 10px;
  background-color: rgba(77, 170, 223, 0.8);
  margin-top: 5px;
  height: 100%;
  margin: 5px;
} 

h1 {
  margin: 5px;
  padding: 5px;
  color: rgb(1, 1, 103);
  font-weight: 400;
}

#name {
  color: white;
  font-weight: 500;
  margin-bottom: 10px;
  padding-bottom: 0px;
}

#price-text {
  background-color: rgba(77, 170, 223, 0.9);
  font-size: 30px;
  color: rgb(28, 196, 28);
  border-radius: 10px;
  font-weight: 400;
}

#alert {
  background-color: rgba(77, 170, 223, 0.9);
  font-size: 30px;
  color: black;
  border-radius: 10px;
}

h2, h3, h5, p {
  margin: 3px;
}

p {
  margin-left: 20px;
  margin-right: 20px;
}

#footer {
  width: 100%;
  background-color: rgba(77, 170, 223, 0.8);
  font-size: 15px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

h6 {
  margin: 0px;
}

@media only screen and (min-width: 768px) {
  .information {
    display: flex;
    flex-direction: row;
  }
  .price-div {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
  }
  .company-profile {
    width: 50%;
  }
  .financial-overview {
    width: 50%;
  }
  h5 {
    font-size: 20px;
  }
  #price-text {
    font-size: 40px;
  }
}